<head>
  {% if site.inc_before_head %}
  {% include {{ site.inc_before_head }} %}
  {% endif %}
 
  {% include git-wiki/sections/head/meta.html %}
  {% include git-wiki/sections/head/scripts.html %}
  {% include git-wiki/sections/head/styles.html %}

  {% if site.inc_after_head %}
  {% include {{ site.inc_after_head }} %}
  {% endif %}
  
  <!-- Scroll support with JS deactivated   -->
  <noscript>
  <style>
    /**
    * Reinstate scrolling for non-JS clients
    */
    .simplebar-content-wrapper {
      scrollbar-width: auto;
      -ms-overflow-style: auto;
    }

    .simplebar-content-wrapper::-webkit-scrollbar,
    .simplebar-hide-scrollbar::-webkit-scrollbar {
      display: initial;
      width: initial;
      height: initial;
    }
  </style>
</noscript>
  
</head>
